@{
    ViewBag.Title = "Home Page";
}

<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>


<div id="chart_div7063d148-ac95-4183-9a66-58d983a61405"></div>
<script>
var data = [];
    var chart;

    google.charts.load('current', { packages: ['corechart', 'line'] });
    google.charts.setOnLoadCallback(loadChart);

    var hub = $.connection.ioTHub;
    $.connection.hub.start();

    hub.client.iotHubNotification = function (d) {
        console.log(d);
        var pi = JSON.parse(d);
        var time = pi.date.split(',');
		var temperature = pi.temperature;
		var humidity = pi.humidity;

        data.addRows([[[parseInt(time[0]), parseInt(time[1]), parseInt(time[2])], temperature,humidity]]);

        var options = {
            height: 250,
            hAxis: {
                title: 'Time'
            },
            vAxis: {
                title: 'Temperature / Humidity',
                gridlines: { count: 22 } 
            }
        };

        chart.draw(data, options);
    };

    function loadChart() {
        data = new google.visualization.DataTable();
        data.addColumn('timeofday', 'Time');
		data.addColumn('number','Temperature');
		data.addColumn('number','Humidity');
        var options = {
            height: 250,
            hAxis: {
                title: 'Time'
            },
            vAxis: {
                title: 'Temperature / Humidity',
                gridlines: { count: 22 } 
            }
        };

        chart = new google.visualization.LineChart(document.getElementById('chart_div7063d148-ac95-4183-9a66-58d983a61405'));
        chart.draw(data, options);
    }
</script>
<div id="chart_div377b9085-9e7b-462b-bfe3-b2c26a3bdc08"></div>
<script>
var data = [];
    var chart;

    google.charts.load('current', { packages: ['corechart', 'line'] });
    google.charts.setOnLoadCallback(loadChart);

    var hub = $.connection.ioTHub;
    $.connection.hub.start();

    hub.client.iotHubNotification = function (d) {
        console.log(d);
        var pi = JSON.parse(d);
        var time = pi.date.split(',');
		var pressure = pi.pressure;
		var altitude = pi.altitude;

        data.addRows([[[parseInt(time[0]), parseInt(time[1]), parseInt(time[2])], pressure,altitude]]);

        var options = {
            height: 250,
            hAxis: {
                title: 'Time'
            },
            vAxis: {
                title: 'Pressure / Altitude',
                gridlines: { count: 22 } 
            }
        };

        chart.draw(data, options);
    };

    function loadChart() {
        data = new google.visualization.DataTable();
        data.addColumn('timeofday', 'Time');
		data.addColumn('number','Pressure');
		data.addColumn('number','Altitude');
        var options = {
            height: 250,
            hAxis: {
                title: 'Time'
            },
            vAxis: {
                title: 'Pressure / Altitude',
                gridlines: { count: 22 } 
            }
        };

        chart = new google.visualization.LineChart(document.getElementById('chart_div377b9085-9e7b-462b-bfe3-b2c26a3bdc08'));
        chart.draw(data, options);
    }
</script>

