<#@ Dsl processor="DslDirectiveProcessor" requires="fileName='..\..\Dsl\DslDefinition.dsl'" #>
<#
	// CmdSet Guid must be defined before master template is included
	// This Guid must be kept synchronized with the CommandSetId Guid in Constants.tt
	Guid guidCmdSet = new Guid ("d2e89e33-b9b3-4387-9f18-19a2711b70c1");
#>
<#@ include file="DslPackage\GeneratedVSCT.tt" #>
